@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  padding: 40px 0 39px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 35px;
  }
  &__list-link {
    @extend %roboto-400;
    line-height: 1.2;
    color: $title;
    padding: 0px 2px 1px;
    transition: all 0.3s;
    &:hover {
      @extend %roboto-700;
      color: $accent;
      border-bottom: 1px solid $accent;
    }
  }
  &__list-link--active {
    @extend %roboto-700;
    color: $accent;
    border-bottom: 1px solid $accent;
  }
}
.user-nav {
  display: flex;
  &__link {
    position: relative;
  }
  &__num {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $accent;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %quicksand-500;
    font-size: 12px;
    line-height: 1.2;
    color: #ffffff;
    position: absolute;
    top: -9px;
    right: -9px;
  }
  &__link + .user-nav__link {
    margin-left: 25px;
  }
}

.top-slider {
  background-image: url("../images/sliderBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $bg;
  padding: 65px 2px 45px;
  &__container {
    max-width: 1560px;
  }
  //&__inner {
  //  //display: flex;
  //}
  &__content {
    padding-left: 175px;
    padding-top: 125px;
  }
  &__item {
    display: flex !important;
    justify-content: space-between;
  }
  &__title {
    max-width: 670px;
    @extend %roboto-700;
    font-size: 58px;
    line-height: 68px;
    color: $title;
    margin-bottom: 35px;
  }
  &__text {
    max-width: 470px;
    @extend %quicksand-500;
    line-height: 26px;
    color: $default;
    margin-bottom: 55px;
  }
  &__link {
    @extend %btn;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: -70px;
    li {
      padding: 0 5px;
      button {
        font-size: 0;
        padding: 0;
        background-color: transparent;
        border: none;
        width: 31px;
        height: 31px;
        border: 1px solid transparent;
        border-radius: 50%;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          width: 5px;
          height: 5px;
          background-color: #8d8d8d;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &.slick-active {
        button {
          border-color: $accent;
          &::before {
            background-color: $accent;
          }
        }
      }
    }
  }
}
.categories-info {
  padding: 120px 0;
  background-image: url("../images/decor/categories-left.svg");
  background-repeat: no-repeat;
  background-position: center left;
  &__inner {
    background-image: url("../images/decor/categories-right.svg");
    background-repeat: no-repeat;
    margin-left: auto;
    background-position: center right;
 
  }
}
.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
  position: relative;
  z-index: 1;
  &::before,
  &::after {
    position: absolute;
  }
  &::before {
    content: url("../images/decor/info-before.svg");
    top: -40px;
    left: -45px;
    width: 120px;
    height: 121px;
    z-index: -100;
  }
  &::after {
    content: url("../images/decor/info-after.svg");
    bottom: -25px;
    right: -25px;
    width: 65px;
    height: 52px;
    z-index: -100;
  }
  &__item {
    width: 370px;
    padding: 60px 30px;
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.34);
  }
  &__item-title {
    margin-top: 35px;
    @extend %roboto-400;
    font-size: 22px;
    color: $title;
    margin-bottom: 10px;
  }
  &__item-text {
    @extend %quicksand-500;
    color: $default;
  }
}
.categories {
  &__title {
    margin-bottom: 29px;
  }
  &__items {
    display: grid;
    min-height: 635px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }
  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 35px;
    padding-left: 40px;
    &:nth-child(1) {
      grid-row: span 2;
      .categories__item-subtitle {
        color: #5800e4;
      }
      .categories__item-link:hover {
        color: #5800e4;
      }
    }
    &:nth-child(2) {
      grid-column: span 2;
      padding-top: 109px;
      .categories__item-subtitle {
        color: $accent;
      }
      .categories__item-link:hover {
        color: $accent;
      }
    }
    &:nth-child(3) {
      .categories__item-subtitle {
        color: #ffb534;
      }
      .categories__item-link:hover {
        color: #ffb534;
      }
    }
    &:nth-child(4) {
      .categories__item-subtitle {
        color: #34c3ff;
      }
      .categories__item-link:hover {
        color: #34c3ff;
      }
    }
  }
  &__item-subtitle {
    @extend %quicksand-500;
    margin-bottom: 5px;
  }
  &__item-title {
    @extend %roboto-500;
    font-size: 22px;
    color: #29282d;
    margin-bottom: 16px;
  }
  &__item-link {
    @extend %roboto-400;
    line-height: 1.2;
    letter-spacing: 0.05em;
    color: $title;
    text-transform: uppercase;
    transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  }
}

.footer {
  background-color: $bg;
}
.footer-top {
  display: flex;
  padding: 70px 0 40px;
  border-bottom: 1px solid #ececec;
  &__contact {
    width: 250px;
    margin-right: 50px;
  }
  &__nav {
    width: 170px;
    margin-right: 30px;
  }
  &__item-form {
    max-width: 470px;
  }
  &__logo {
    display: block;
    margin-bottom: 33px;
  }
  &__adress,
  &__email,
  &__phone {
    display: block;
    line-height: 36px;
  }
  &__social-list {
    display: flex;
    margin-top: 30px;
    align-items: center;
  }
  &__social-item + .footer-top__social-item {
    padding-left: 18px;
  }
  &__social-link {
    transition: all 0.3s;
    path {
      fill: $default;
    }
    &:hover {
      path {
        fill: $accent;
      }
    }
  }
  &__title {
    @extend %roboto-500;
    font-size: 22px;
    line-height: 1;
    color: $title;
    margin-bottom: 40px;
  }
  &__link {
    line-height: 36px;
  }
  &__text {
    @extend %quicksand-500;
    line-height: 26px;
    color: $default;
    margin-bottom: 25px;
  }
  &__form-input {
    max-width: 320px;
    background-color: #ffff;
    width: 100%;
    border: none;
    padding: 12px 10px 12px 15px;
    box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
    outline: none;
    &::placeholder {
      @extend %quicksand-500;
      font-size: 16px;
      line-height: 36px;
      color: $default;
    }
  }
  &__form-btn {
    @extend %roboto-400;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #ffffff;
    background-color: $accent;
    padding: 12px 18px;
    box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
    border: none;
    cursor: pointer;
  }
}
.footer-bottom {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  &__accept {
    display: flex;
    align-items: center;
  }
  &__accept-img {
    margin-left: 25px;
  }
}
@import "media";
