.promo {
  background-image: url("../images/promoBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 150px 0 160px;
  text-align: center;
  &__inner {
    max-width: 570px;
    width: 100%;
    margin-left: auto;
  }
  &__subtitle {
    @extend %quicksand-500;
    font-size: 22px;
    text-transform: uppercase;
    color: $accent;
    margin-bottom: 29px;
  }
  &__title {
    margin-bottom: 60px;
  }
  &__clock {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  &__clock-item {
    width: 121px;
    height: 120px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__span {
    text-align: center;
    margin-bottom: 12px;
    @extend %roboto-700;
    font-size: 48px;
    color: $title;
  }
  .smalltext {
    @extend %quicksand-500;
    color: $default;
  }
  &__link {
    @extend %roboto-400;
    letter-spacing: 0.2em;
    background-color: #f6f6f6;
    color: $title;
    border: 1px solid #fe3e57;
    padding: 19px 33px;
  }
}