.modal {
  padding-top: 100px;
  max-width: 570px;
  margin: 0 auto 115px;
  &__links {
    text-align: center;
    margin-bottom: 60px;
  }
  &__link {
    @extend %roboto-400;
    font-size: 22px;
    line-height: 1.2;
    color: #909090;
    margin: 0 30px;
  }
  &__link--active {
    @extend %roboto-700;
    color: $accent;
  }
  &__label {
    display: block;
    margin-bottom: 30px;
  }
  &__input {
    display: block;
    width: 100%;
    background-color: $bg;
    border: none;
    height: 60px;
    margin-top: 4px;
    padding: 0 15px;
  }
  &__btn {
    display: block;
    width: 100%;
    background-color: #292929;
    padding: 24px 0;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    @extend %roboto-400;
    line-height: 1.2;
    letter-spacing: 0.2em;
    color: #ffffff;
  }
  &__error {
    @extend %quicksand-500;
    font-weight: 500;
    color: $accent;
  }
  &__text {
    @extend %quicksand-500;
    margin-bottom: 25px;
  }
}